---
import BaseHead from "../../components/layout/BaseHead.astro";
import Header from "../../components/layout/Header.astro";
import Footer from "../../components/layout/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import ArticleCard from "../../components/blog/ArticleCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    {
      posts.map((post) => (
        <ArticleCard
          slug={post.slug}
          title={post.data.title}
          pubDate={post.data.pubDate}
          heroImage={post.data.heroImage}
          collectionName="blog"
          slug={post.slug}
        />
      ))
    }
  </section>
</BaseLayout>
