---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/layout/FormattedDate.astro";
import HeroImage from "../components/blog/HeroImage.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description = "", pubDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article>
    <div>
      <header>
        <FormattedDate date={pubDate} />
        <h1>{title}</h1>
      </header>
      {heroImage && <HeroImage heroImage={heroImage} alt="{alt}" />}
      <div class="max-w-prose">
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>
