---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/layout/BaseHead.astro";
import Footer from "../components/layout/Footer.astro";
import FormattedDate from "../components/layout/FormattedDate.astro";
import HeroImage from "../components/blog/HeroImage.astro";
import Header from "../components/layout/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description = "", pubDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="font-poppins">
    <Header />
    <main class="container mx-auto">
      <article>
        {heroImage && <HeroImage src={heroImage} alt="{alt}" />}
        <div class="max-w-prose">
          <header>
            <h1>{title}</h1>
            <FormattedDate date={pubDate} />
          </header>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
