---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/layout/FormattedDate.astro";
import HeroImage from "../components/blog/HeroImage.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description = "", pubDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article>
    <div>
      <header class="relative">
        <div class="absolute bg-white p-4 bottom-0 left-0 pr-8">
          <FormattedDate date={pubDate} />
          <h2>{title}</h2>
        </div>
        {heroImage && <HeroImage heroImage={heroImage} alt="{alt}" />}
      </header>
      <div class="max-w-prose">
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>
